/assets/exampleGui/.babelrc
/assets/exampleGui/.editorconfig
/assets/exampleGui/.eslintignore
/assets/exampleGui/.eslintrc
/assets/exampleGui/package-lock.json
/assets/exampleGui/yarn.lock
/assets/exampleGui/assets/img/Furhat_logo_wide_black.png
